/*-------------------------------------------------
    Header Style
---------------------------------------------------*/
.sticky-nav.menu_fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: $width-100;
	z-index: 99;
	box-shadow: 2px 4px 8px rgba(51, 51, 51, 0.25);
	background: $header-top-bg-color;
	animation: smoothScroll 1s forwards;
}
.header-top {
	padding: 7px 0;
	border-bottom: 1px solid $border-color-1;
	border-top: 1px solid $border-color-1;
	background-color: $card-box-color;
}
.top_svg {
	width: 14px;
	height: 14px;
	fill: #777777;
	margin-right: 9px;
	margin-bottom: 3px;
}

/*-----  Header Top  -----*/
.header-top-call {
	display: flex;
	align-items: center;
	color: $text-color-777;
	font-size: 13px;
	i {
		margin-right: 5px;
	}
	a {
		color: $text-color-777;
		padding-left: 4px;
		&:hover {
			color: $main-primary-color-3;
		}
	}
}
.header-top-center {
	.header-top-call {
		justify-content: center;
	}
}
.header-top-right-inner {
	>div {
		padding: 0 15px;
		border-right: 1px solid $border-color-1;
		&:last-child {
			padding-right: 0;
			border: none;
		}
		a {
			color: $text-color-777;
			font-size: 13px;
			&:hover {
				color: $main-primary-color-3;
			}
		}
	}
	.list-inline-item {
		float: $floatleft;
		line-height: 19px;
		&:not(:last-child) {
			margin-right: 15px;
		}
	}
}
.header-top-lan-curr {
	display: flex;
	flex-wrap: wrap;
	.dropdown {
		.dropdown-toggle {
			font-size: $fontsize-14px;
			display: flex;
			align-items: center;
			padding: 0;
			transition: all 0.3s ease 0s;
			color: $main-text-color;
			border: none;
			i {
				font-size: $fontsize-18px;
				margin-left: 2px;
				color: $main-text-color;
				transition: all 0.3s ease 0s;
				margin-bottom: 2px;
			}
			&::after {
				display: none;
			}
			&:hover {
				color: $main-primary-color-3;
				i {
					color: $main-primary-color-3;
				}
			}
		}
		.dropdown-menu {
			margin: 0;
			top: 27px !important;
			left: auto !important;
			right: 0 !important;
			min-width: 130px;
			overflow: hidden;
			padding: 0 10px;
			background: $white-background-color;
			border-radius: 0;
			border: 1px solid $border-color-1;
			box-shadow: 0 0 10px 0 rgba($black-color, .1);
			transform: translate3d(0, 0, 0) !important;
			z-index: 12;
			li {
				border-bottom: 1px solid $border-color-1;
				&:last-child {
					border: none;
				}
			}
			.dropdown-item {
				padding: 7px;
				color: $main-text-color;
				font-size: $fontsize-14px;
				background: $transparent;
				text-transform: $uppercase;
				&:hover {
					color: $main-primary-color-3;
				}
			}
			li.active {
				.dropdown-item {
					color: $main-primary-color-3;
				}
			}
		}
	}
}
.header-top-lan-curr.dropdown {
	.dropdown-toggle {
		font-size: 13px;
		display: flex;
		align-items: center;
		padding: 0;
		transition: all 0.3s ease 0s;
		color: $text-color-777;
		border: none;
		i {
			font-size: $fontsize-18px;
			margin-left: 8px;
			color: $text-color-777;
			transition: all 0.3s ease 0s;
			margin-bottom: 2px;
		}
		&::after {
			display: none;
		}
		&:hover {
			color: $main-primary-color-3;
			i {
				color: $main-primary-color-3;
			}
		}
	}
	.dropdown-menu {
		margin: 0;
		top: 27px !important;
		left: auto !important;
		right: 0 !important;
		min-width: 130px;
		overflow: hidden;
		padding: 0 10px;
		background: $white-background-color;
		border-radius: 0;
		border: 1px solid $border-color-1;
		box-shadow: 0 0 10px 0 rgba($black-color, .1);
		transform: translate3d(0, 0, 0) !important;
		z-index: 12;
		li {
			border-bottom: 1px solid $border-color-1;
			&:last-child {
				border: none;
			}
		}
		.dropdown-item {
			padding: 7px;
			color: $text-color-777;
			font-size: 13px;
			background: $transparent;
			text-transform: $uppercase;
			letter-spacing: 0.03rem;
			&:hover {
				color: $main-primary-color-3;
			}
		}
		li.active {
			.dropdown-item {
				color: $main-primary-color-3;
			}
		}
	}
}

/*-----  Header Bottom  -----*/
.ec-header-bottom {
	padding: 25px 0;
	background-color: $card-box-color;
	>.row {
		justify-content: space-between;
	}
	.header-bottom-flex {
		display: flex;
		justify-content: space-between;
	}
	.ec-header-logo, .ec-header-search, .ec-header-cart {
		display: flex;
	}
}
.header-logo {
	text-align: $textleft;
	img {
		width: 130px;
	}
}
.header_svg {
	@include ease3;
	width: 22px;
	height: 22px;
	fill: $main-text-color;
}
.ec-side-toggle {
	.header_svg {
		width: 24px;
		height: 23px;
		fill: #84b71e;
	}
}
.ec-header-wishlist {
	.header_svg {
		width: 24px;
		height: 23px;
		fill: #84b71e;
	}
}
.ec-header-bottons {
	display: flex;
	justify-content: flex-end;
	.ec-header-btn {
		position: $relative;
		display: flex;
		text-decoration: none;
		color: $main-text-color;
		width: auto;
		align-items: center;
		min-height: 45px;
		padding: 0 12px;
		border: 1px solid #84b71e;
		border-radius: 30px;
		transition: none;
		padding-top: 1px;
		margin-left: 15px;
		-webkit-transition: all 0.3s ease-in-out !important;
    	transition: all 0.3s ease-in-out !important;
		.header-icon {
			position: $relative;
		}
		&:hover {
			.ec-btn-title {
				color: $white-text-color;
				// background: $main-primary-color-3;
				border-color: $main-primary-color-3;
			}
			color: $white-text-color;
			background: $main-primary-color-3;
			border-color: $main-primary-color-3;
			box-shadow: 0 0 10px 0 rgba($boxshadow-color-1, .1);
			-webkit-box-shadow: 0 0 10px 0 rgba($boxshadow-color-1, .1);
			-moz-box-shadow: 0 0 10px 0 rgba($boxshadow-color-1, .1);
			.header_svg {
				fill: $white-text-color;
			}
		}
		i {
			font-size: $fontsize-20px;
			line-height: 1;
		}
		.ec-header-count {
			font-size: 12px;
			font-weight: $font-weight-400;
			line-height: 16px;
			position: $relative;
			z-index: 2;
			height: 16px;
			min-width: 16px;
			text-align: $textcenter;
			color: $white-text-color;
			border-radius: 8px;
			background-color: #84b71e;
			bottom: 0;
			padding: 0 2px;
			left: -5px;
		}
	}
	.ec-header-btn.dropdown-toggle {
		&::after {
			display: none;
		}
	}
	.ec-btn-title {
		padding-left: 5px;
		font-size: $fontsize-14px;
		text-transform: $capitalize;
		letter-spacing: 0.4px;
	}
	.ec-header-user {
		.dropdown-toggle {
			@include ease3;
			i {
				font-size: 20px;
    			line-height: 1;
			}
			&:hover {
				.header_svg {
					fill: $main-primary-color-3;
				}
			}
		}
	}
}
.ec-header-user {
	.dropdown-toggle {
		@include ease3;
		display: flex;
		align-items: center;
		transition: none;
		border: none;
		background-color: transparent;
		padding: 0 2px;
		min-height: 45px;
		color: $main-text-color;
		&:hover {
			color: $main-primary-color-3;
		}
		&::after {
			display: none;
		}
	}
	.dropdown-menu {
		margin: 0;
		top: 50px !important;
		left: auto !important;
		right: 0 !important;
		min-width: 130px;
		overflow: hidden;
		padding: 0 10px;
		background: $white-background-color;
		border-radius: 0;
		box-shadow: 0 3px 25.5px 4.5px rgba(0, 0, 0, 0.06);
		transform: translate3d(0, 0, 0) !important;
		border: 1px solid $border-color-1;
		li {
			border-bottom: 1px solid $border-color-5;
			&:last-child {
				border: none;
			}
		}
		.dropdown-item {
			padding: 7px;
			color: $main-text-color;
			font-size: $fontsize-14px;
			background: $transparent;
			text-transform: $capitalize;
			&:hover {
				color: $main-primary-color-3;
			}
		}
	}
}

/*-----  Category Menu  -----*/
#ec-category-menu {
	display: none;
	width: 100%;
	background: #ffffff none repeat scroll 0 0;
	border: 1px solid $border-color-1;
	border-top: 0;
	box-sizing: border-box;
	padding: 0px;
	position: $absolute;
	width: 195px;
	z-index: 91;
	left: 15px;
	right: auto;
	top: 100%;
	display: none;
	.ec-cat-menu-link {
		display: block;
		width: 100%;
		padding: 13px 15px;
		position: $relative;
		font-weight: 500;
		font-size: 13px;
		&:hover {
			color: $main-primary-color-3;
		}
	}
	li {
		&:not(:last-child) {
			border-bottom: 1px solid $border-color-1;
		}
	}
}
.ec-category-menu {
	.ec-category-toggle {
		min-height: 50px;
		display: flex;
		justify-content: center;
		background: #131a23;
		align-items: center;
		cursor: pointer;
		max-width: 195px;
		.ec-category-title {
			font-size: 16px;
			text-transform: $uppercase;
			color: $white-text-color;
			letter-spacing: 0.5px;
		}
		i {
			font-size: $fontsize-18px;
			text-transform: $uppercase;
			color: $white-text-color;
			background: $main-primary-color-3;
			height: 20px;
			width: 20px;
			border-radius: 100%;
			text-align: $textcenter;
			margin-left: 11px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
div#ec-main-menu-desk {
	@include ease3;
	background: #84b71e;
}
.ec-main-menu {
	display: flex;
	justify-content: center;
	ul {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 0;
		padding-left: 0;
		list-style: none;
		width: 100%;
		justify-content: flex-end;
		position: $relative;
		li {
			&:not(:first-child) {
				margin-left: 30px;
			}
			a {
				font-size: 14px;
				line-height: 50px;
				text-decoration: none;
				text-transform: $uppercase;
				color: $white-text-color;
				display: block;
				position: $relative;
			}
			.mega-menu {
				position: $absolute;
				box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
				background: $white-background-color;
				padding: 20px 0px 30px 30px;
				opacity: 0;
				visibility: hidden;
				left: 0;
				width: 100%;
				z-index: 2;
				-o-transition: -o-transform 0.3s, opacity 0.3s;
				-ms-transition: -ms-transform 0.3s, opacity 0.3s;
				-moz-transition: -moz-transform 0.3s, opacity 0.3s;
				-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
				z-index: 15;
				li {
					ul {
						width: 25%;
						margin-right: 30px;
						li.menu_title {
							a {
								color: #84b71e;
								font-size: 15px;
								font-weight: 600;
								display: block;
								border-bottom: 1px solid $border-color-1;
								margin-bottom: 10px;
								padding-bottom: 5px;
								height: auto;
								&:hover {
									color: $main-primary-color-3;
								}
							}
						}
						li {
							a {
								height: auto;
								padding: 2px 0;
								color: $main-text-color;
								text-transform: $capitalize;
								line-height: 30px;
								font-weight: 300;
								font-size: $fontsize-14px;
								display: block;
								border: 0;
								&:hover {
									color: $main-primary-color-3;
								}
							}
						}
					}
				}
				ul.ec-main-banner {
					margin-top: 20px;
					li {
						width: 25%;
						padding-right: 30px;
						a {
							height: auto;
							padding: 0;
							margin: 0;
							position: $relative;
							overflow: hidden;
							border-radius: 15px;
						}
					}
				}
			}
		}
		li.dropdown {
			position: $relative;
			ul.sub-menu {
				position: $absolute;
				z-index: 9;
				text-align: $textleft;
				opacity: 0;
				visibility: hidden;
				min-width: 200px;
				left: auto;
				background: $white-background-color;
				box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
				display: block;
				-o-transition: -o-transform 0.3s, opacity 0.3s;
				-ms-transition: -ms-transform 0.3s, opacity 0.3s;
				-moz-transition: -moz-transform 0.3s, opacity 0.3s;
				-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
			}
			ul {
				li {
					padding: 0;
					margin: 0;
					display: block;
					a {
						display: block;
						line-height: 20px;
						padding: 10px 20px;
						border-bottom: 1px solid $border-color-1;
						font-weight: 300;
						font-size: $fontsize-14px;
						color: $text-color-777;
						text-transform: $capitalize;
						display: flex;
						justify-content: space-between;
						align-items: center;
						&:hover {
							color: $main-primary-color-3;
						}
					}
				}
			}
			li.position-static {
				position: relative !important;
				&:hover {
					.sub-menu.sub-menu-child {
						opacity: 1;
						visibility: visible;
					}
				}
			}
			ul.sub-menu.sub-menu-child {
				left: 100% !important;
				opacity: 0;
				visibility: hidden;
				top: 0;
			}
			&:hover {
				.sub-menu {
					opacity: 1;
					visibility: visible;
				}
				.mega-menu {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	>ul {
		>li {
			>a {
				&:before {
					content: '';
					position: $absolute;
					top: auto;
					bottom: 0;
					height: 2px;
					width: 0;
					margin: 0 auto;
					background: $transparent;
					left: 0;
					right: auto;
					transition: all 0.3s ease 0s;
				}
			}
			&:hover {
				>a {
					&:before {
						background: $main-primary-color-3;
						width: 100%;
					}
					color: $main-primary-color-3;
				}
			}
		}
		>li.active {
			>a {
				&:before {
					background: $main-primary-color-3;
					width: 100%;
				}
			}
		}
	}
}

/*-----  Header Search  -----*/
.header-search {
	width: 80%;
	margin: auto;
	position: $relative;
	i {
		margin-left: 8px;
		line-height: 15px;
	}
	.form-control {
		display: block;
		width: 100%;
		min-height: 43px;
		height: 43px;
		padding: 5px 14px;
		font-size: $fontsize-14px;
		font-weight: $font-weight-400;
		line-height: 1;
		color: $main-text-color;
		border-radius: 0;
		background-color: transparent;
		border: none;
		letter-spacing: 0.4px;
	}
}
.ec-header-search {
	flex: 1;
	form.ec-search-group-form {
		display: flex;
		border: 1px solid $border-color-1;
		border-radius: $border-radius-1;
		overflow: hidden;
	}
}
.search_svg {
	width: 14px;
	height: 14px;
	fill: #ffffff;
	margin-left: 8px;
}
.action-form {
	position: $relative;
}
.submit {
	.header_svg {
		width: 14px;
		height: 14px;
		fill: $main-primary-color-3;
		margin-bottom: 1px;
	}
}
.ec-search-select-inner {
	position: $relative;
	display: flex;
	width: 100px;
	height: 43px;
	flex: 0 0 100px;
	font-size: $fontsize-14px;
	background: #f1f1f1;
	align-items: center;
	justify-content: center;
	select {
		cursor: pointer;
		padding: 0 20px;
		color: $main-text-color;
		flex: 100px;
		height: 43px;
	}
	&::after {
		content: '\f107';
		position: $absolute;
		font-family: $Icon-fontfamily-EcIcons;
		cursor: pointer;
		pointer-events: none;
		font-size: $fontsize-16px;
		display: flex;
		line-height: 1;
		justify-content: center;
		align-items: center;
		color: $main-text-color;
		left: auto;
		right: 10px;
	}
}
.search_submit {
	position: $relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: auto;
	flex: 0 0 auto;
	height: 100%;
	background: $main-primary-color-3;
	color: $white-text-color;
	font-size: $fontsize-14px;
	box-shadow: none;
	outline: 0;
	padding: 0;
	height: 37px;
	margin: 3px;
	border-radius: $border-radius-1;
	padding: 2px 15px 0 20px;
	letter-spacing: 0.4px;
	&:hover {
		background: #84b71e;
	}
}
body.ec-open {
	overflow: hidden;
	&:before {
		height: 100%;
		width: 100%;
		background: #000000;
		opacity: 0.7;
		position: $absolute;
		z-index: 998;
		content: '';
	}
}

/*-----  Side Cart  -----*/
.ec-side-cart-overlay {
    width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 17;
	display: none;
}
.ec-side-cart {
	font-size: $fontsize-14px;
	font-weight: $font-weight-400;
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 0;
	left: auto;
	display: block;
	width: 350px;
	height: 100%;
	padding: 20px;
	transition: all 0.5s ease 0s;
	transform: translateX(100%);
	background-color: $white-background-color;
	box-shadow: none;
	overflow: auto;
	opacity: 0;
	visibility: hidden;
	.ec-cart-inner {
		position: $relative;
		z-index: 9;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: space-between;
		.ec-cart-title {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 100%;
			padding: 0 0 10px 0;
			border-bottom: 2px solid $border-color-2;
			margin-bottom: 20px;
			align-items: center;
			.cart_title {
				font-size: $fontsize-20px;
				color: #84b71e;
				font-weight: $font-weight-600;
			}
			.ec-close {
				position: $relative;
				border: 0;
				font-size: 30px;
				line-height: 1;
				color: #84b71e;
			}
		}
		.ec-cart-bottom {
			.cart_btn {
				display: flex;
				justify-content: space-between;
				margin-bottom: 20px;
				a {
					display: block;
					text-transform: $uppercase;
					width: 49%;
					height: auto;
				}
			}
			.cart-sub-total {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				padding-top: 15px;
				padding-bottom: 15px;
				border-top: 1px solid $border-color-2;
				margin: 30px 0 0 0px;
			}
		}
	}
	.ec-menu-title {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;
		padding: 0 0 10px 0;
		border-bottom: 2px solid $border-color-2;
		margin-bottom: 20px;
		align-items: center;
		margin-bottom: 10px;
		.menu_title {
			font-size: $fontsize-20px;
			color: #84b71e;
			font-weight: $font-weight-600;
		}
		.ec-close {
			position: $relative;
			border: 0;
			font-size: 30px;
			line-height: 1;
			color: #84b71e;
		}
	}
	.ec-menu-inner {
		.ec-menu-content {
			ul {
				li {
					position: $relative;
					display: block;
					line-height: 28px;
					a {
						display: block;
						padding: 10px 0px;
						text-transform: $capitalize;
						color: #84b71e;
						border-bottom: 1px solid $border-color-2;
						font-size: $fontsize-16px;
						font-weight: $font-weight-700;
					}
					.sub-menu {
						position: static;
						top: auto;
						display: none;
						visibility: visible;
						width: 100%;
						min-width: auto;
						padding: 0;
						transition: none;
						opacity: 1;
						box-shadow: none;
						li {
							line-height: inherit;
							position: $relative;
							a {
								text-transform: $capitalize;
								padding-left: 15px;
								padding-right: 0px;
								display: block;
								border-bottom: 1px solid $border-color-2;
								font-size: $fontsize-16px;
								font-weight: $font-weight-600;
								color: $text-color-777;
							}
							.sub-menu {
								li {
									a {
										font-weight: $font-weight-400;
										padding-left: 30px;
										font-size: $fontsize-14px;
									}
								}
							}
						}
					}
					&:hover {
						>a {
							color: #84b71e;
						}
						>span.menu-toggle {
							&:before {
								color: #84b71e;
							}
						}
					}
				}
			}
		}
		.ec-social {
			li {
				display: inline-block;
				margin: 0 10px 0px 0;
				line-height: 40px;
				padding: 0;
				a {
					position: $relative;
					display: inline-block;
					vertical-align: middle;
					color: $white-text-color;
					background: #84b71e;
					font-size: $fontsize-16px;
					padding: 0;
					line-height: 40px;
					width: 40px;
					height: 40px;
					border-radius: 100%;
					text-align: $textcenter;
					border: none;
					z-index: 1;
					transition: all 300ms linear;
					&:hover {
						background: #212121;
						color: $white-text-color;
					}
				}
			}
		}
	}
}
.ec-menu-content {
	>ul {
		>li {
			.menu-toggle {
				position: $absolute;
				z-index: 2;
				top: 0;
				right: 0;
				width: 24px;
				height: 44px;
				cursor: pointer;
				background-color: transparent;
				&::before {
					width: 100%;
					content: "\f067";
					font-family: $Icon-fontfamily-EcIcons;
					transition: all 0.5s ease 0s;
					display: flex;
					align-items: center;
					justify-content: center;
					height: 100%;
					color: #84b71e;
					font-size: 12px;
				}
			}
		}
		>li.active {
			>.menu-toggle {
				&::before {
					content: "\f068";
				}
			}
			>ul {
				>li.active {
					>.menu-toggle {
						&::before {
							content: "\f068";
						}
					}
				}
			}
		}
	}
}
.ec-side-cart.ec-mobile-menu {
	right: auto;
	left: 0;
	transform: translateX(-100%);
	width: 340px;
	display: flex;
	flex-direction: column;
}
.ec-side-cart.ec-mobile-menu.ec-open {
	transform: translateX(0);
	visibility: visible;
}
.ec-side-cart.ec-open {
	transform: translateX(0);
	opacity: 1;
	visibility: visible;
}
.ec-side-cart.ec-cart {
	.ec-cart-inner {
		.ec-cart-title {
			margin-bottom: 30px;
			padding: 0;
			.cart_title {
				font-size: $fontsize-20px;
			}
		}
	}
}
.ec-side-cart.ec-wishlist {
	.ec-cart-inner {
		.ec-cart-title {
			margin-bottom: 30px;
			padding: 0;
			.cart_title {
				font-size: $fontsize-20px;
			}
		}
	}
}
.eccart-pro-items {
	margin: 0;
	padding-left: 0;
	list-style: none;
	li {
		display: flex;
		overflow: hidden;
		margin-bottom: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid $border-color-2;
		.sidecart_pro_img {
			flex: 1 0 30%;
			img {
				max-width: 100%;
			}
		}
		.ec-pro-content {
			position: $relative;
			flex: 1 0 70%;
			padding-left: 15px;
			overflow: hidden;
			.cart_pro_title {
				text-decoration: none;
				color: $main-text-color;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				display: block;
				font-size: $fontsize-16px;
				line-height: 1.3;
				padding-right: 30px;
				width: 100%;
				&:hover {
					color: #84b71e;
				}
			}
			.cart-price {
				font-size: $fontsize-14px;
				display: block;
				margin-top: 10px;
				span {
					color: $main-primary-color-3;
					font-weight: 600;
					font-size: 15px;
				}
			}
			.remove {
				line-height: 1.5;
				position: $absolute;
				top: 0;
				right: 0;
				padding: 0 9px;
				color: red;
				font-size: $fontsize-16px;
				&:hover {
					color: #eb2606;
				}
			}
		}
		&:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: 0;
		}
	}
}
i.ecicon.eci-star.fill {
	color: #f7a609;
}
i.ecicon.eci-star {
	color: #b2b2b2;
	float: $floatleft;
	font-size: 17px;
	margin-right: 2px;
}
